.hero {
  background-color: #2e2f42;
  padding: 188px 0;
  text-align: center;
}

.hero-title {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  font-weight: 700;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto 48px;
}

.hero-btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
