.team-section {
  background-color: #f4f4fd;
}

.team-section .section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-list > li {
  list-style: none;
  background-color: #fff;
}

.team-list h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}

.team-list p {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
